
streamlit
pandas
gspread
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytesseract
reportlab
gspread
pandas
pytesseract
Pillow
reportlab
google-generativeai
gspread
requests
pandas
opencv-python
numpy
google-generativeai # Nova biblioteca
gspread
pandas
opencv-python-headless
google-generativeai
Pillow
reportlab
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
